<div id="blog-item-holder" class="blog-item-holder">
  <div class="blog-item2 gdl-divider sixteen columns mt0" >

    <h2><%= link_to event.title, refinery.calendar_event_path(event) %></h2>
    <time class="date" datetime="<%= event.start_at %>" style="font-style: italic;">
      <%= event.start_at %> - <%= event.end_at %>
    </time>


    <div class="blog-thumbnail-content">
        <%= event.excerpt %>
      <p></p>
      <p><%= link_to t('read_more', :scope => 'refinery.news.shared.items'), refinery.calendar_event_path(event) %></p>
    </div>

  </div>
</div>